#sessie {
    background-color: rgb(49, 46, 46);
    color: grey;
    width: 700px;
    float: right;
}

#aantalRev {
    background-color: grey;
    color: white;
    width: 700px;
    height: 400px;
    float: right;
}

#reviewKaarten {
    border: 1px solid grey;
    background-color: grey;
    height: 50%;
    width: 80%;
    margin-left: 2px;
    margin-right: 2px;
    position: fixed;
    bottom: 0;
}

#myChart {
    width: 100%;
    max-width: 600px;
    max-height: 315px;
}
