<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->

        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost:3306/flashDB
        </property>

        <property name = "hibernate.connection.username">
            root
        </property>

        <property name = "hibernate.connection.password">
            Minecraft
        </property>

        <property name="connection_poolsize">
            1
        </property>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name="cache.providerclass">
            org.hibernate.NoCacheProvider
        </property>

     <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- List of mapping classes -->

        <mapping class="models.Account"/>
        <mapping class="models.Card"/>
        <mapping class="models.Deck"/>
        <mapping class="models.Tag"/>
        <mapping class="models.SessionPractice"/>
        <mapping class="models.SessionCard"/>

    </session-factory>
</hibernate-configuration>